numpy==1.19.1
Flask==1.1.2
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.2
pdbpp==0.10.2
simplejson==3.17.2
Werkzeug==1.0.1
requests==2.7.0
opencv-python==4.4.0.42
Flask-Jsonpify==1.5.0
jsonify==0.5
